::ng-deep app-cart {
    grid-area: main;
}
#total-price {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 5fr 1fr;
    padding: 1rem;
}

#total-price h3 {
    text-align: center;
    grid-area: right;
}

.header-title {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 5fr 1fr;
    border-bottom: 1px solid lightgray;
    padding-bottom: 1rem;
}

#right {
    text-align: center;
    display: flex;
    margin: auto;
}

#left {
    padding-left: 2rem;
}

button {
    // padding: 1rem;
    margin: auto;
    display: flex;
}

// button:hover {
//     background-color: #2a9df4;
//     color: white;
//     cursor: pointer;
//     box-shadow: 5px 5px 10px rgba(13, 12, 12, 0.22);
// }


.cart-item {
    display: grid;
    grid-template-areas: "cartitem-image  cartitem-info cartitem-price";
    height: max-content;
    min-height: 200px;
    grid-auto-columns: 1fr 4fr 1fr;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid lightgray;
}

.cart-item:first-child {
    border-top: 1px solid lightgray;
}

.cart-item .image {
    display: flex;
}

.cart-item .image img {
    width: 100px;
    margin: auto;
}

.info {
    padding-left: 1rem;
}

// .cart-item>* {
//     padding: 1rem;
// }

.cart-item .price h3 {
    text-align: center;
}

// .cart-item .info>* {
//     padding: 0.3rem;
// }

.cart-item .info h3 {
    padding-top: 0;
    color: #2a9df4;
}

.cart-item select {
    width: 50px;
    margin-left: 5px;
}

.delete-cart-item {
    color: #2a9df4;
}

.delete-cart-item:hover {
    cursor: pointer;
}

.seperate-horizontal, .delete-cart-item {
    padding-left: 1rem;
}