<alert></alert>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container formArrayName="stocks">
        <div id="header">
            <h3>isbn</h3>
            <h3>Số lượng</h3>
            <h3>Đơn giá</h3>
        </div>
        <div *ngFor="let control of stocks.controls; let i=index;" [formGroupName]="i" class="row">
            <mat-form-field >
                <input type="text" matInput formControlName="isbn">
            </mat-form-field>
            <mat-form-field>
                <input type="number" matInput formControlName="price">
            </mat-form-field>
            <mat-form-field>
                <input type="number" matInput formControlName="quantity">
            </mat-form-field>
            <button class="remove-row" (click)="removeRow(i)">X</button>
        </div>
        
    </ng-container>
    <button mat-raised-button>Cập nhật</button>
</form>