.cart-item-container {
    display: grid;
    grid-template-columns: 1fr 4fr; 
}

.cart-item-container img {
    width: 100px;
    margin: auto;
}

.cart-item-container > * {
    padding-right: 0.5rem;
}

select {
    padding: 0.5rem 1rem;
}