mat-card {
    width: 200px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

img {
    width: 170px;
    display: flex;
    margin: 0 auto 1rem;
}

mat-card-title {
    text-align: justify;
    font-size: medium;
}

.side-ad-bookcard:hover {
    box-shadow: 5px 5px 40px 10px rgba(13, 12, 12, 0.22);
    cursor: pointer;
}