mat-card {
    width: 250px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

img {
    width: 200px;
    display: flex;
    margin: 0 auto 1rem;
}

mat-card-title {
    text-align: justify;
    font-size: medium;
}