<mat-card *ngIf="bill">
    <ul>
        <li>Ma don: {{bill.bill_id}}</li>
        <li>Ngay tao: {{bill.create_date}}</li>
        <li>Trang thai: {{bill.bill_status}}</li>
        <li>Tong tien: {{bill.total_price}}</li>
    </ul>

    <mat-table [dataSource]="bill.items">
        <ng-container matColumnDef="isbn">
            <mat-header-cell class="medium-width" *matHeaderCellDef> isbn </mat-header-cell>
            <mat-cell class="medium-width" *matCellDef="let element">{{element.isbn}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Ngay tao </mat-header-cell>
            <mat-cell class="link" *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="quantity">
            <mat-header-cell class="small-width align-center" *matHeaderCellDef> So luong </mat-header-cell>
            <mat-cell class="small-width align-button" *matCellDef="let element">
                {{element.quantity}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell class="small-width align-center" *matHeaderCellDef> Don gia </mat-header-cell>
            <mat-cell class="small-width align-button" *matCellDef="let element">
                {{element.price}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</mat-card>