<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-form-field>
            <mat-label>Họ và tên</mat-label>
            <input type="text" matInput formControlName="fullname">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Số CMND</mat-label>
            <input type="number" matInput formControlName="identity_number">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Số điện thoại</mat-label>
            <input type="number" matInput formControlName="phone_number">
        </mat-form-field>
        <mat-form-field *ngIf="type !== 'update'">
            <mat-label>Mật khẩu</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Lương</mat-label>
            <input type="number" matInput formControlName="salary">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Chức cụ</mat-label>
            <mat-select formControlName="role">
                <mat-option value="'EMP'">Nhân viên</mat-option>
                <mat-option value="'ADMIN'">Quản trị viên</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button type="submit">{{displayButton}}</button>
    </mat-card>
</form>