<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button routerLink="/">Trang chủ</a>
        <div>
            <form [formGroup]="form" (ngSubmit)="search()">
                <input type="text" formControlName="search"
                placeholder="Nhấn Enter để tìm kiếm">
            </form>
            <a mat-button routerLink="/cart">Giỏ hàng</a>
            <a mat-button *ngIf="canDoManagement()" routerLink="/management" class="manager">Quản lý</a>
            <a mat-button *ngIf="isLoggedIn()" routerLink="/profile">Trang cá nhân</a>
            <a mat-button *ngIf="!isLoggedIn()" routerLink="/login">Đăng nhập</a>
            <a mat-button *ngIf="!isLoggedIn()" routerLink="/sign-up">Đăng ký</a>
            <a mat-button *ngIf="isLoggedIn()" (click)="logout()">Đăng xuất</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>