<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-form-field>
            <mat-label>Tên nhà xuất bản</mat-label>
            <input matInput placeholder="Publisher name" formControlName="name">
            <mat-error *ngIf="publisherName.hasError('required')">Vui lòng điền tên nhà xuất bản</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Địa chỉ</mat-label>
            <input matInput placeholder="Address">
        </mat-form-field>
        <button mat-raised-button [disabled]="!form.valid" type="submit">{{displayButton}}</button>
    </mat-card>
</form>