<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-form-field>
            <mat-label>Publisher name</mat-label>
            <input matInput placeholder="Publisher name" formControlName="name">
            <mat-error *ngIf="publisherName.hasError('required')">Please fill in publisher name</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
        </mat-form-field>
        <button mat-raised-button [disabled]="!form.valid" type="submit">{{displayButton}}</button>
    </mat-card>
</form>