<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-form-field>
            <mat-label>ISBN</mat-label>
            <input matInput placeholder="label" value="" formControlName="isbn">
            <mat-error *ngIf="formControls.isbn.hasError('required')">ISBN is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Book's name</mat-label>
            <input matInput placeholder="name" value="" fromControlName="name">
            <mat-error *ngIf="formControls.name.hasError('required')">Book's name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cover url</mat-label>
            <input matInput placeholder="Book's cover url" value="" formControl="image_url">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Author(s)</mat-label>
            <input matInput placeholder="Author" value="" formControlName="author">
            <mat-hint>If there are more than one author, seperate their name by comma (,)</mat-hint>
        </mat-form-field>
        <mat-select formControlName="genre_id">
            <mat-option *ngFor="let genre of genres;" [value]="genre.genre_id">
                {{genre.name}}
            </mat-option>
        </mat-select>
        <mat-select formControlName="publisher_id">
            <mat-option *ngFor="let publisher of publishers" [value]="publisher.publisher_id">
                {{publisher.name}}
            </mat-option>
        </mat-select>
        <button mat-raised-button [disabled]="!form.valid" type="submit">{{displayButton}}</button>
    </mat-card>
</form> 