:host {
    width: 90%;
    margin: auto;
}

mat-row {
    transition: background-color 300ms;
}

mat-row:hover {
    cursor: pointer;
    background-color: #dfdaf56e;
}

.medium-width {
    max-width: 15%;
}