<mat-table [dataSource]="bills">
    <ng-container matColumnDef="id">
        <mat-header-cell class="small-width" *matHeaderCellDef>Mã hóa đơn</mat-header-cell>
        <mat-cell class="small-width" *matCellDef="let element">{{element.bill_id}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="createdate">
        <mat-header-cell *matHeaderCellDef> Ngày tạo </mat-header-cell>
        <mat-cell class="link" *matCellDef="let element"> {{element.create_date | date}} </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="state">
        <mat-header-cell class="medium-width align-center" *matHeaderCellDef> Trạng thái hóa đơn </mat-header-cell>
        <mat-cell class="medium-width align-button" *matCellDef="let element">
            {{element.bill_status}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalamount">
        <mat-header-cell class="medium-width align-center" *matHeaderCellDef> Thành tiền </mat-header-cell>
        <mat-cell class="medium-width align-button" *matCellDef="let element">
            {{element.total_price}}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/bill', row.bill_id]"></mat-row>
</mat-table>