<mat-card>    
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="change-pw-form">
        <h3>Update new password</h3>
        <alert [errorMsg]="errorMsg" [successMsg]="successMsg"></alert>
        <mat-form-field appearance="fill">
            <mat-label>New password</mat-label>
            <input matInput type="password" name="new_password" formControlName="new_password">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" name="confirm_password" formControlName="confirm_password">
        </mat-form-field>
        <button mat-button>Update password</button>
    </form>
</mat-card>