<mat-card>    
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="change-pw-form">
        <h2>Cập nhật mật khẩu mới</h2>
        <alert [errorMsg]="errorMsg" [successMsg]="successMsg"></alert>
        <mat-form-field appearance="fill">
            <mat-label>Mật khẩu mới</mat-label>
            <input matInput type="password" name="new_password" formControlName="new_password" required>
            <mat-error *ngIf="newpassword.hasError('required')">Vui lòng điền mật khẩu</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Xác nhận mật khẩu</mat-label>
            <input matInput type="password" name="confirm_password" formControlName="confirm_password" required>
            <mat-error *ngIf="confirmpassword.hasError('required')">Vui lòng điền trường này để xác nhận mật khẩu</mat-error>
            <mat-error *ngIf="confirmpassword.hasError('mustMatch')">Mật khẩu không khớp</mat-error>
        </mat-form-field>
        <button mat-button>Cập nhật mật khẩu</button>
    </form>
</mat-card>