<div class="form-container">
    <h2>Sign Up</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text">
            <mat-error *ngIf="name.hasError('required')">Name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="email.hasError('email')">Email is invalid</mat-error>
            <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
            <mat-error *ngIf="confirmPassword.hasError('required')">Please fill in this field to confirm password</mat-error>
            <mat-error *ngIf="confirmPassword.hasError('mustMatch')">Password does not match</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="tel" formControlName="phoneNumber">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="text" formControlName="address">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Sign up</button>

    </form>
</div>