<mat-card *ngIf="bill">
    <ul>
        <li>Mã đơn hàng: {{bill.bill_id}}</li>
        <li>Ngày tạo: {{bill.create_date | date}}</li>
        <li>Trạng thái hóa đơn: {{bill.bill_status}}</li>
        <li>Thành tiền: {{bill.total_price}}</li>
    </ul>

    <mat-table [dataSource]="bill.items">
        <ng-container matColumnDef="isbn">
            <mat-header-cell class="medium-width" *matHeaderCellDef> isbn </mat-header-cell>
            <mat-cell class="medium-width" *matCellDef="let element">{{element.isbn}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Tên sách </mat-header-cell>
            <mat-cell class="link" *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="quantity">
            <mat-header-cell class="small-width align-center" *matHeaderCellDef> Số lượng </mat-header-cell>
            <mat-cell class="small-width align-button" *matCellDef="let element">
                {{element.quantity}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell class="small-width align-center" *matHeaderCellDef> Đơn giá </mat-header-cell>
            <mat-cell class="small-width align-button" *matCellDef="let element">
                {{element.price}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</mat-card>