<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-form-field id="input-text">
            <mat-label>Từ tìm kiếm:</mat-label>
            <input matInput type="text" formControlName="searchText">
            <mat-error *ngIf="formSearchText.errors?.required">Vui lòng điền từ để tìm kiếm</mat-error>
        </mat-form-field>
        <div class="option">
            <span>Số lượng kết quả hiển thị:</span>
            <mat-select formControlName="pageSize" appearance="fill">
                <mat-option *ngFor="let number of [10,20,30,50];" [value]="number">{{number}}</mat-option>
            </mat-select>
        </div>
        <button [disabled]="!form.valid" mat-raised-button type="submit">Tìm kiếm</button>
    </mat-card>
</form>

