:host {
    margin-top: 2rem;
    h2 {
        width: max-content;
        margin: 1rem auto;
    }
    mat-card {
        width: 50%;
        margin: auto;
        margin-bottom: 2rem;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            mat-form-field {
                width: 50%;
            }
        }
    }
}
.medium-width {
    max-width: 15%;
}

.align-center {
    display: flex;
    justify-content: center;
}

.align-button {
    display: flex;
    justify-content: space-around;
}