<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource"> 
        <!-- Id Column -->
        <ng-container matColumnDef="author_id">
          <mat-header-cell [ngClass]="'small-width'" *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell [ngClass]="'small-width'" *matCellDef="let element; let i=index;"> {{i}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="fullname">
          <mat-header-cell *matHeaderCellDef> Họ tên </mat-header-cell>
          <mat-cell class="link" *matCellDef="let element" 
            [routerLink]="['/author', element.author_id]"> {{element.fullname}} </mat-cell>
        </ng-container>
      
        <!-- Bookcount Column -->
        <ng-container matColumnDef="bookcount">
          <mat-header-cell class="medium-width align-center" *matHeaderCellDef> Số lượng sách </mat-header-cell>
          <mat-cell class="medium-width align-center" *matCellDef="let element"> {{element.bookcount}} </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <main-paginator
      [totalItems]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 20, 30]"
      [pageIndex]="currentPage"
    ></main-paginator>
  </div>