<mat-expansion-panel class="sidenav_item">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Thể loại
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/management/create/genre']">Thêm thể loại</a>
        <a mat-list-item [routerLink]="['/management/search/genre']">Cập nhật hoặc xóa thể loại</a>
    </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel class="sidenav_item">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Nhà xuất bản
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/management/create/publisher']">Thêm nhà xuất bản</a>
        <a mat-list-item [routerLink]="['/management/search/publisher']">Cập nhật hoặc xóa nhà xuất bản</a>
    </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel class="sidenav_item">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Sách
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/management/create/book']">Thêm sách</a>
        <a mat-list-item [routerLink]="['/management/search/book']">Cập nhật hoặc xóa sách</a>
    </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel class="sidenav_item">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Tác giả
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/management/search/author']">Cập nhật hoặc xóa tác giả</a>
    </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel class="sidenav_item">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Nhân viên
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/management/create/employee']">Thêm nhân viên</a>
        <a mat-list-item [routerLink]="['/management/search/employee']">Cập nhật hoặc xóa nhân viên</a>
    </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel class="sidenav_item">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Quản lý kho
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/management/import-stock']">Nhập sách</a>
        <a mat-list-item [routerLink]="['/management/search/employee']">Danh sách đơn nhập sách</a>
    </mat-nav-list>
</mat-expansion-panel>