<mat-expansion-panel class="sidenav_item">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Genre
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/management/create/genre']">Create genre</a>
        <a mat-list-item [routerLink]="['/management/search/genre']">Update or delete genre</a>
    </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel class="sidenav_item">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Publisher
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/management/create/publisher']">Create publisher</a>
        <a mat-list-item [routerLink]="['/management/search/publisher']">Update or delete publisher</a>
    </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel class="sidenav_item">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Book
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/management/create/book']">Create book</a>
        <a mat-list-item [routerLink]="['/management/search/book']">Update or delete book</a>
    </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel class="sidenav_item">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Author
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/management/search/author']">Update or delete author</a>
    </mat-nav-list>
</mat-expansion-panel>