.wrapper-checkout {
    display: grid;
    grid-template-areas: "topnav" "main";
}

.checkout-main {
    width: 80%;
    margin: auto;
}


.cart-item-container {
    display: grid;
    grid-template-columns: 1fr 4fr; 
}

.cart-item-container img {
    width: 100px;
    margin: auto;
}

.cart-item-container > * {
    padding-right: 0.5rem;
}

select {
    padding: 0.5rem 1rem;
}

.medium-width {
    max-width: 200px;
}

.small-width {
    max-width: 50px;
}

.customer-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;

    button {
        width: 50%;
        margin: auto;
    }
}

.radio {
    width: 30%;
    margin: auto;
}

.medium-width {
    max-width: 200px;
}

.small-width {
    max-width: 50px;
}

.align-center {
    display: flex;
    justify-content: center;
}

.align-button {
    display: flex;
    justify-content: space-around;
}

#button-container {
    margin: auto;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
        margin: 0.5rem;
    }
}

mat-row {
    padding: 0.5rem;
}